@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

.barra-titulo{
	background: linear-gradient(to bottom, #07354d, #036879);
}

.imgusuario {
	width: 34px;
}

.banner-img3 {
	width: 83px;
	text-align: center;
	margin-left: 20px;
}
.barra-nav {
	background-color:transparent!important;
	color: white!important;
	border-radius: none;
	box-shadow: none;
}

.navbar-toggler{
	border: 1px solid rgba(255,255,255,0.6) !important;
	color: rgba(255,255,255,0.6) !important;
}

.nav-link{
	color: rgba(255,255,255,0.6) !important;
}

li.nav-item {
    margin: 0 8px;
    display: flex!important;
    align-items: center;
}

.menu-header{
	background-color: #036879;
	color: rgba(255,255,255,0.6);
	max-width: 100%;
}

.menu-header:hover{
	background-color: #036879;
	color: rgba(255,255,255,0.6);
}

.dropdown-item{
	max-width: 100%;
}

.dropdown-menu{
	padding: 0!important;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .dropdown-menu {
	    position: absolute;
	    left: -215px;
	    top: 0;
	}
}

.body-container, form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form-container-agenda {
	width: 1150px;
}

.form-container2-agenda {
	width: 672px;
	padding-top: 38px;
	padding-bottom: 48px;
}

.form-container3-agenda {
	width: 672px;
}

.contenedor4-agenda {
	width: 100%;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: transparent;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #00949e;
	float: left;
	border: none;
	width: 50%;
	outline: none;
	cursor: pointer;
	padding: 14px 0;
	transition: 0.3s;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.18;
	color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #00949e;
	opacity: 0.7;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #00949e;
	opacity: 0.7;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.active {
	display: block !important;
}

.detalles {
	border: none;
	background-color: transparent;
}

.btn-primary {
	background-color: #07354d!important;
    border-radius: 20px!important;
    padding: 6px 10px!important;
    color: rgba(255,255,255,0.7)!important;
}

.btn{
	text-transform: none;
}

.btn-primary:hover{
	background-color: #0f849e!important;
}

.btn-archivo{
	background-color: #efefef!important;
}

.close-button {
	position: absolute;
	right: 7px;
    top: 6px;
	background-color: white !important;
	padding: 2px!important;
	border-radius: 50%;
	opacity: 1!important;
	color: #07354d!important;
}

.modal-content{
	border-radius:12px;
}

.modal-body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-button *{
	margin:0!important;
	padding:0!important;
}

button.btn.btn-outline-secondary.border-left-0 {
    border: none;
}

.form-group.bmd-form-group {
    width: 100%;
    margin-bottom: 0;
}

.modal-dialog{
	max-width: 360px;
}

.modal-body{
	padding: 20px;
}

.rotate45{
	transform: rotate(-45deg);
}

.elemento1-agenda {
	width: 100% !important;
	height: 100px;
	background-color: #f1f1f1 !important;
	color: #07354d !important;
}

.img-elemento1-agenda {
	width: 50px;
	height: 50px;
	margin-right: 35px;
}

.img-derecha-agenda {
	width: 400px;
}

.contenedor3-agenda {
	height: 245px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nombre-agenda {
	
}

.vivienda-agenda {
	
}

.correo-agenda {
	
}