@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

.banner-img3 {
	width: 83px;
	height: 30px;
	margin-left: 26px;
	margin-top: 16px;
	text-align: center;
}

.barra-nav {
	width: 100%;
	height: 62px;
	background: linear-gradient(to bottom, #07354d, #036879);
	color: white;
	display: flex;
	flex-direction: column;
}

.logo-nav {
	position: absolute;
}

.imgusuario {
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: flex-end;
	margin-right: 59px;
	margin-top: 16px;
	margin-left: auto
}

.body-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.alta-vecinos {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.21;
	text-align: left;
	color: #07354d;
	padding-top: 27px;
}

.contenido {
	width: 450px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: #f1f1f1;
	margin-top: 27px;
	width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #00949e;
	float: left;
	border: none;
	width: 50%;
	outline: none;
	cursor: pointer;
	padding: 14px 0;
	transition: 0.3s;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.18;
	color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #00949e;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #00949e;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.active {
	display: block !important;
}

.vecinos {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.19;
	text-align: left;
	color: #ffffff;
}

.sub-administradores {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.19;
	text-align: center;
	color: #ffffff;
}

.texto1 {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.25;
	text-align: center;
	color: #07354d;
	margin-top: 17px;
}

.invitacion-correo {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.19;
	text-align: center;
	color: #07354d;
	margin-top: 40px;
}

.contador-viviendas {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.14;
	text-align: center;
	color: #07354d;
	margin-top: 168px;
}

.subir, .descargar {
	width: 50% !important;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.19;
	text-align: center;
	color: #ffffff;
	margin-top: 14px;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 440px;
}

button {
	background-color: transparent;
	border: none;
	width: 100%;
	height: 100%;
}

.Rectangle-1130 {
	width: 50% !important;
	height: 40px;
	background-color: #00949e!important;
}

.Rectangle-1131 {
	width: 224px;
	height: 40px;
	opacity: 0.7;
	background-color: #00949e !important;
}

.continuar {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.19;
	text-align: center;
	color: #00949e !important;
	margin-top: 30px;
	padding-bottom: 39px;
}

label {
	color: #07354d!important;
	font-size: 13px!important;
	font-weight: 300!important;
}