@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

.barra-titulo{
	background: linear-gradient(to bottom, #07354d, #036879);
}

.imgusuario {
	width: 34px;
}

.banner-img3 {
	width: 83px;
	text-align: center;
	margin-left: 20px;
}
.barra-nav {
	background-color:transparent!important;
	color: white!important;
	border-radius: none;
	box-shadow: none;
}

.navbar-toggler{
	border: 1px solid rgba(255,255,255,0.6) !important;
	color: rgba(255,255,255,0.6) !important;
}

.nav-link{
	color: rgba(255,255,255,0.6) !important;
}

li.nav-item {
    margin: 0 8px;
    display: flex!important;
    align-items: center;
}

.menu-header{
	background-color: #036879;
	color: rgba(255,255,255,0.6);
	max-width: 100%;
}

.menu-header:hover{
	background-color: #036879;
	color: rgba(255,255,255,0.6);
}

.dropdown-item{
	max-width: 100%;
}

.dropdown-menu{
	padding: 0!important;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .dropdown-menu {
	    position: absolute;
	    left: -215px;
	    top: 0;
	}
}

.body-container, form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form-container {
	width: 758px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f1f1;
}

.contenedor1 {
	width: 566px;
}

.cuadro-chat {
	width: 100%;
	background-color: #ffffff;
	margin-top: 25px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border: solid 1px #8b8b8b;
}

.linea {
  width: 100%;
  height: 0;
  border: solid 1px #8b8b8b;
  margin-top: 22px;
}

.aviso1 {
	background-color: #ffffff;
	margin-top: 22px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-bottom: 66px;
}

.usuario-dijo {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #07354d;
}

.boton1 {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.publicar {
  font-family: Roboto !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: #00949e;
}

button {
	border: none !important;
	background-color: transparent !important; 
	cursor: pointer;
}

.mensaje-escrito {
	color: #767676;
}