@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

.body-container, form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.banner-img3 {
	width: 83px;
	height: 30px;
	margin-left: 26px;
	margin-top: 16px;
	text-align: center;
}

.barra-nav {
	width: 100%;
	height: 62px;
	background: linear-gradient(to bottom, #07354d, #036879);
	color: white;
	display: flex;
	flex-direction: column;
}

.logo-nav {
	position: absolute;
}

.imgusuario {
	height: 34px;
	display: flex;
	justify-content: flex-end;
	margin-right: 59px;
	margin-top: 16px;
	margin-left: auto;
}

.form-container {
	width: 688px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container {
	width: 100%;
}

.container1 {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f1f1f1;
	border-radius: 12px;
}

.container3 {
	width: 100%;
	display: flex;
	align-items: left;
	flex-direction: column;
}

.finanzas-condominio {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.21;
	text-align: left;
	color: #07354d;
	margin-top: 33px;
	margin-bottom: 30px;
	width: 100%
}

.rectangulo {
	width: 100%;
	background-color: #f1f1f1;
	padding: 24px;
	margin-top: 30px;
	border-radius: 12px;
}

.nombre-alias, .monto-inicial, .numero-de-cuenta, .numero-de-tarjeta,
	.numero-clabe {
	width: 50% !important;
}

.datos-operaciones {
	font-size: 18px;
	color: #07354d;
	margin-bottom: 20px;
	margin-top: 20px;
}

.cuota-mensual {
	width: 27% !important;
}

.barra-bot {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 85px;
	padding-right: 85px;
}

button {
	border: none;
	background-color: transparent !important;
	color: #00949e !important;
	cursor: pointer;
}

a {
	color: #00949e !important;
}

.cuenta {
	font-size: 18px;
	color: #07354d;
	margin-bottom: 20px;
}

.rectangulo1 {
	width: 100%;
	background-color: #f1f1f1;
	padding-top: 24px;
	display: flex;
	align-items: center;
}

#cuadro-contenedor {
	width: 100% !important;
}

.agregar-cuenta {
	margin-top: 25px;
	margin-bottom: 39px;
	font-size: 16px;
	color: #07354d !important;
	border: none;
	background-color: transparent;
	text-align: center;
}

.atras {
	color: #00949e !important;
}

.siguiente {
	display: flex;
	justify-content: flex-end;
	color: #00949e !important;
	font-size: 16px;
	font-weight: normal;;
	line-height: 1.19;
	text-align: right;
	background-color: transparent;
}

/*the container must be positioned relative:*/
.tipo-select {
	position: relative;
	width: 50% !important;
	margin-top: 19px;
}

.select-selected {
	background-color: #f1f1f1;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 5px;
	right: 16px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #07354d transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #07354d transparent;
	top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
	color: #07354d;
	border: 1px solid black;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}
/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #f1f1f1;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.active {
	display: block !important;
}

@media ( max-width : 991px) {
	.form-container {
		width: 90%;
	}
}

label {
	font-size: 14px !important;
	color: #07354d !important;
}

/* Style the tab */
.tab {
	overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #00949e;
	float: left;
	border: none;
	width: 15%;
	outline: none;
	cursor: pointer;
	padding: 14px 0;
	transition: 0.3s;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.18;
	color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #00949e;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #00949e;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.active {
	display: block !important;
}

.container {
	width: 100%;
}

/*the container must be positioned relative:*/
.fecha-select {
	position: relative;
	width: 38% !important;
}

.select-wrapper input.select-dropdown {
	color: #07354d;
}

/* checkbox */
@media ( max-width : 991px) {
	.form-container {
		width: 90%;
	}
}

.inline-select {
	display: inline;
	max-width: 25% !important;
}

.inline-label {
	max-width: 25% !important;
}

.registro-de-condominio {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.21;
	text-align: left;
	color: #07354d;
	width: 100%;
	margin-top: 32px;
}

.nombre-del-condominio, .numero, .pagina-web, .calle, .numero, .telefono
	{
	font-size: 16px;
	font-weight: 300;
	color: #07354d;
	width: 50% !important;
	flex-grow: 1;
}

.codigo-postal, .colonia, .pais, .ciudad {
	font-size: 16px;
	font-weight: 300;
	color: #07354d;
	flex-grow: 1;
	width: 50% !important;
}

.ubicacin-del-inmueble {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.19;
	text-align: left;
	color: #07354d;
}

.contacto-del-inmueble {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.19;
	text-align: left;
	color: #07354d;
	margin-top: 20px;
}

.siguiente {
	font-size: 16px;
	font-weight: normal;;
	line-height: 1.19;
	text-align: right;
	color: #00949e;
	margin-top: 15px;
    padding-bottom: 10px;
}

.img-container {
	background-image:
		url(http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png);
	border-radius: 50%;
	width: 170px;
	height: 170px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.cam {
	width: 50px;
	height: 50px;
	background-color: #00949e !important;
	border: none !important;
	border-radius: 50%;
	background-position: center;
	color: #ffffff !important;
	font-size: 21px;
}

.hidden {
	display: none!important;
}

.contenedorimg {
	display: flex;
	align-items: center;
	justify-content: center;
}