@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

body {
	background-image: linear-gradient(to top, #00949e, #07354d);
	    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#message {
	background-color: red;
	color: white;
}

.logout {
	background-color: yellow;
	color: black;
}

.login-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form>* {
	margin-bottom: 20px;
}

.Rectangle-698 {
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	flex-direction: column;
}

.Iniciar-sesin {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.17;
	margin-bottom: 35px;
	margin-top: 50px;
	text-align: center;
	color: #ffffff;
}

.Correo-electronico {
	width: 320px;
	font-size: 16px;
	font-weight: 300;
	line-height: 2.5;
	letter-spacing: normal;
	color: #ffffff;
	background: transparent;
	border: none;
}

.Line-229 {
	width: 320px;
	height: 0;
	margin-bottom: 1px;
	margin-top: 1px;
	border: solid 1px #ffffff;
}

.Contrasena {
	width: 320px;
	font-size: 16px;
	font-weight: 300;
	line-height: 2.5;
	text-align: left;
	color: #ffffff;
	background: transparent;
	border: none;
}

.Iniciar-sesin2 {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.19;
	margin-bottom: 30px;
	text-align: center;
	color: #ffffff;
}

.Rectangle-706 {
	width: 182px;
	height: 36px;
	margin-bottom: 30px;
	border-radius: 18px;
	background-color: #07354d;
	border: none;
	cursor: pointer;
}

.boton {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Has-olvidado-tu-contrasea {
	font-size: 14px;
	font-weight: 100;
	line-height: 1.14;
	margin-bottom: 62px;
	text-align: center;
	color: #ffffff;
}

.Todava-no-estas-registrado-en-isa {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.19;
	margin-bottom: 15px;
	text-align: center;
	color: #ffffff;
}

.Crear-Cuenta {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.19;
	text-align: center;
	margin-bottom: 15px;
	color: #ffffff !important;
}

.banner-img2 {
	width: 186.2px;
	height: 65.8px;
	margin-top: 50px;
}

.desconexion {
	margin-bottom: 28px;
    font-size: 16px;
    color: lightcoral;
}

label {
	color: #ffffff !important;
	font-weight: 300 !important;
}

input {
	color: #ffffff !important;
}

a{
	color: #ffffff !important;
}