@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

.barra-titulo {
	background: linear-gradient(to bottom, #07354d, #036879);
}

.imgusuario {
	width: 34px;
}

.banner-img3 {
	width: 83px;
	text-align: center;
	margin-left: 20px;
}

.barra-nav {
	background-color: transparent !important;
	color: white !important;
	border-radius: none;
	box-shadow: none;
}

.navbar-toggler {
	border: 1px solid rgba(255, 255, 255, 0.6) !important;
	color: rgba(255, 255, 255, 0.6) !important;
}

.nav-link {
	color: rgba(255, 255, 255, 0.6) !important;
}

li.nav-item {
	margin: 0 8px;
	display: flex !important;
	align-items: center;
}

.menu-header {
	background-color: #036879;
	color: rgba(255, 255, 255, 0.6);
	max-width: 100%;
}

.menu-header:hover {
	background-color: #036879;
	color: rgba(255, 255, 255, 0.6);
}

.dropdown-item {
	max-width: 100%;
}

.dropdown-menu {
	padding: 0 !important;
}

@media ( min-width : 992px) {
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute;
		left: -215px;
		top: 0;
	}
}

.body-container, form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
}

.form-container-notificaciones {
	width: 766px;
}

.img-usuario-notificaciones {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: 16px;
    margin-left: 23px;
}

.notificacion-vista-notificaciones {
	width: 100%;
	height: 86px;
	background-color: #ffffff;
}

.notificacion-novista-notificaciones {
	width: 100%;
	height: 86px;
	background-color: #f1f1f1;
}

.user-notificaciones {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.17;
	text-align: left;
	color: #000000;
	margin-top: 11px;
}

.motivo-notificaciones {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.19;
	text-align: left;
	color: #000000;
}

.fecha-notificaciones {
	font-size: 12px;
	font-weight: 300;
	line-height: 1.17;
	text-align: left;
	color: #00949e;
}

.linea-notificaciones {
	width: 766px;
	height: 0;
	border: solid 1px #707070;
}