@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

.banner-img3 {
	width: 83px;
	height: 30px;
	margin-left: 26px;
	margin-top: 16px;
	text-align: center;
}

.barra-nav {
	width: 100%;
	height: 112px;
	background: linear-gradient(to bottom, #07354d, #036879);
	color: white;
	display: flex;
	flex-direction: column;
}

.logo-nav {
	position: absolute;
}

.imgusuario {
	height: 34px;
	display: flex;
	justify-content: flex-end;
	margin-right: 59px;
	margin-top: 16px;
	margin-left: auto
}

.linea {
	width: 100%;
	height: 0;
	border: solid 1px #ffffff;
	margin-top: 10px
}

.finanzas {
	text-align: center;
	font-size: 30px;
}

.body-container, form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form-container {
	width: 720px;
}

.carousel {
	height: 223px;
	margin-top: 51px;
	margin-bottom: 23px;
}

.contenedor-carousel {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel-item{
	width: 374px;
	height: 200px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.boton1 {
	width: 182px;
	height: 48px;
	border-radius: 24px;
	background-color: #029c4a;
	cursor: pointer;
	border: none
}

.registrar-ingreso {
	font-size: 16px;
	font-stretch: normal;
	line-height: 1.19;
	text-align: center;
	color: #ffffff;
}

.boton2 {
	width: 182px;
	height: 48px;
	border-radius: 24px;
	background-color: #ed0723;
	cursor: pointer;
	border: none
}

.registrar-egreso {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: #ffffff;
}

.rectangulo1 {
	width: 100%;
	height: 399px;
	background-color: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: transparent;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #00949e;
	float: left;
	border: none;
	width: 33%;
	outline: none;
	cursor: pointer;
	padding: 14px 0;
	transition: 0.3s;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.18;
	color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #00949e;
	opacity: 0.7;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #00949e;
	opacity: 0.7;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.active {
	display: block !important;
}