@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

.barra-titulo{
	background: linear-gradient(to bottom, #07354d, #036879);
}

.imgusuario {
	width: 34px;
}

.banner-img3 {
	width: 83px;
	text-align: center;
	margin-left: 20px;
}
.barra-nav {
	background-color:transparent!important;
	color: white!important;
	border-radius: none;
	box-shadow: none;
}

.navbar-toggler{
	border: 1px solid rgba(255,255,255,0.6) !important;
	color: rgba(255,255,255,0.6) !important;
}

.nav-link{
	color: rgba(255,255,255,0.6) !important;
}

li.nav-item {
    margin: 0 8px;
    display: flex!important;
    align-items: center;
}

.menu-header{
	background-color: #036879;
	color: rgba(255,255,255,0.6);
	max-width: 100%;
}

.menu-header:hover{
	background-color: #036879;
	color: rgba(255,255,255,0.6);
}

.dropdown-item{
	max-width: 100%;
}

.dropdown-menu{
	padding: 0!important;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .dropdown-menu {
	    position: absolute;
	    left: -215px;
	    top: 0;
	}
}

.linea {
	width: 100%;
	height: 0;
	border: solid 1px #ffffff;
	margin-top: 10px
}

.finanzas {
	text-align: center;
	font-size: 30px;
}

.body-container, form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form-container {
	width: 720px;
	padding-bottom: 20px;
}

.carousel {
	height: 270px;
	margin-bottom: 23px;
}

.carousel-inner {
	width: 60% !important;
	margin-left: 137px;
	border-radius: 30px;
	border: solid 1px #8b8b8b;
}

.contenedor-carousel {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.carousel-item{
	width: 100%;
	height: 200px;
}

.carousel-indicators .active {
	background-color: #000000!important;
}

.carousel-indicators li {
	background-color: #grey!important;
}

.renglon1 {
	font-size: 12px;
	text-align: center;
	color: #000000;
	padding-top: 31px;
}

.renglon2 {
	font-size: 12px;
	text-align: center;
	color: #000000;
}

.renglon3 {
	font-size: 32px;
	text-align: center;
	color: #000000;
}

.ingresos-mes {
	font-size: 14px;
	text-align: center;
	color: #029c4a;
	margin-top: 10px
}

.egresos-mes {
	font-size: 14px;
	text-align: center;
	color: #ed0723;
	margin-top: 10px
}

.boton1 {
	width: 182px;
	height: 48px;
	border-radius: 24px;
	background-color: #029c4a;
	cursor: pointer;
	border: none
}

.registrar-ingreso {
	font-size: 16px;
	font-stretch: normal;
	line-height: 1.19;
	text-align: center;
	color: #ffffff;
}

.boton2 {
	width: 182px;
	height: 48px;
	border-radius: 24px;
	background-color: #ed0723;
	cursor: pointer;
	border: none
}

.registrar-egreso {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: #ffffff;
}

.rectangulo1 {
	width: 100%;
	height: 399px;
	background-color: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: transparent;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #00949e;
	float: left;
	border: none;
	width: 33%;
	outline: none;
	cursor: pointer;
	padding: 14px 0;
	transition: 0.3s;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.18;
	color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #00949e;
	opacity: 0.7;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #00949e;
	opacity: 0.7;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.active {
	display: block !important;
}

.btn-primary {
	background-color: #07354d!important;
    border-radius: 20px!important;
    padding: 6px 10px!important;
    color: rgba(255,255,255,0.7)!important;
}

.btn{
	text-transform: none;
}

.btn-primary:hover{
	background-color: #0f849e!important;
}

.btn-archivo{
	background-color: #efefef!important;
}

.close-button {
	position: absolute;
	right: 7px;
    top: 6px;
	background-color: white !important;
	padding: 2px!important;
	border-radius: 50%;
	opacity: 1!important;
	color: #07354d!important;
}

.modal-content{
	border-radius:12px;
}

.modal-body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-button *{
	margin:0!important;
	padding:0!important;
}

button.btn.btn-outline-secondary.border-left-0 {
    border: none;
}

.form-group.bmd-form-group {
    width: 100%;
    margin-bottom: 0;
}

.modal-dialog{
	max-width: 360px;
}

.modal-body{
	padding: 20px;
}

.rotate45{
	transform: rotate(-45deg);
}

.hidden{
	display: none!important;
}