@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway', sans-serif;
}

.barra-titulo {
	background: linear-gradient(to bottom, #07354d, #036879);
}

.imgusuario {
	width: 34px;
}

.banner-img3 {
	width: 83px;
	text-align: center;
	margin-left: 20px;
}

.barra-nav {
	background-color: transparent !important;
	color: white !important;
	border-radius: none;
	box-shadow: none;
}

.navbar-toggler {
	border: 1px solid rgba(255, 255, 255, 0.6) !important;
	color: rgba(255, 255, 255, 0.6) !important;
}

.nav-link {
	color: rgba(255, 255, 255, 0.6) !important;
}

li.nav-item {
	margin: 0 8px;
	display: flex !important;
	align-items: center;
}

.menu-header {
	background-color: #036879;
	color: rgba(255, 255, 255, 0.6);
	max-width: 100%;
}

.menu-header:hover {
	background-color: #036879;
	color: rgba(255, 255, 255, 0.6);
}

.dropdown-item {
	max-width: 100%;
}

.dropdown-menu {
	padding: 0 !important;
}

@media ( min-width : 992px) {
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute;
		left: -215px;
		top: 0;
	}
}

.linea {
	width: 100%;
	height: 0;
	border: solid 1px #ffffff;
	margin-top: 10px
}

.textoarriba {
	color: black;
	margin-top: 7px;
	margin-bottom: 10px;
	text-align: center;
}

.body-container, form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form-container {
	width: 720px;
	padding-bottom: 20px;
}

.carousel {
	height: 270px;
	margin-bottom: 23px;
}

.carousel-inner {
	width: 60% !important;
	margin-left: 137px;
	border-radius: 30px;
	border: solid 1px #8b8b8b;
}

.contenedor-carousel {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.carousel-item {
	width: 100%;
	height: 200px;
}

.carousel-indicators .active {
	background-color: #000000 !important;
}

.carousel-indicators li {
	background-color: #grey !important;
}

.renglon1 {
	font-size: 12px;
	text-align: center;
	color: #000000;
	padding-top: 31px;
}

.renglon2 {
	font-size: 12px;
	text-align: center;
	color: #000000;
}

.renglon3 {
	font-size: 32px;
	text-align: center;
	color: #000000;
}

.ingresos-mes {
	font-size: 14px;
	text-align: center;
	color: #029c4a;
	margin-top: 10px
}

.egresos-mes {
	font-size: 14px;
	text-align: center;
	color: #ed0723;
	margin-top: 10px
}

.boton1 {
	width: 182px;
	height: 48px;
	border-radius: 24px;
	background-color: #029c4a;
	cursor: pointer;
	border: none
}

.registrar-ingreso {
	font-size: 16px;
	font-stretch: normal;
	line-height: 1.19;
	text-align: center;
	color: #ffffff;
}

.boton2 {
	width: 182px;
	height: 48px;
	border-radius: 24px;
	background-color: #ed0723;
	cursor: pointer;
	border: none
}

.registrar-egreso {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: #ffffff;
}

.rectangulo1 {
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: transparent;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #00949e;
	float: left;
	border: none;
	width: 33%;
	outline: none;
	cursor: pointer;
	padding: 14px 0;
	transition: 0.3s;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.18;
	color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #00949e;
	opacity: 0.7;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #00949e;
	opacity: 0.7;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.active {
	display: block !important;
}

.btn-primary {
	background-color: #07354d !important;
	border-radius: 20px !important;
	padding: 6px 10px !important;
	color: rgba(255, 255, 255, 0.7) !important;
}

.btn {
	text-transform: none;
}

.btn-primary:hover {
	background-color: #0f849e !important;
}

.btn-archivo {
	background-color: #efefef !important;
}

.close-button {
	position: absolute;
	right: 7px;
	top: 6px;
	background-color: white !important;
	padding: 2px !important;
	border-radius: 50%;
	opacity: 1 !important;
	color: #07354d !important;
}

.modal-content {
	border-radius: 12px;
}

.modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-button * {
	margin: 0 !important;
	padding: 0 !important;
}

button.btn.btn-outline-secondary.border-left-0 {
	border: none;
}

.form-group.bmd-form-group {
	width: 100%;
	margin-bottom: 0;
}

.modal-dialog {
	max-width: 360px;
}

.modal-body {
	padding: 20px;
}

.rotate45 {
	transform: rotate(-45deg);
}

.hidden {
	display: none !important;
}

.modal-form-group {
	width: 90%;
}

/*  AGENDA VECINOS */
.form-container-agenda {
	width: 1150px;
}

.form-container2-agenda {
	width: 672px;
	padding-top: 38px;
	padding-bottom: 48px;
}

.form-container3-agenda {
	width: 672px;
}

.contenedor4-agenda {
	width: 100%;
}

.elemento1-agenda {
	width: 100% !important;
	height: 100px;
	background-color: #f1f1f1 !important;
	color: #07354d !important;
	display: flex;
	align-items: center;
	border: solid 1px
}

.img-elemento1-agenda {
	width: 50px;
	height: 50px;
	margin-right: 35px;
}

.img-derecha-agenda {
	width: 400px;
}

.contenedor3-agenda {
	height: 245px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.numvivienda-agenda {
	color: #00949e !important;
	font-size: 16px;
	text-align: left;
}

.nombre-agenda {
	font-size: 10px;
	color: #00949e;
}

.vivienda-agenda {
	font-size: 10px;
	color: #00949e;
	margin-top: 18px;
}

.correo-agenda {
	font-size: 10px;
	color: #00949e;
}

/*  AVISOS */
.form-container-avisos {
	width: 758px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f1f1;
}

.contenedor1-avisos {
	width: 566px;
	background-color: #f1f1f1;
}

.cuadro-chat-avisos {
	width: 100%;
	background-color: #ffffff;
	margin-top: 25px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border: solid 1px #8b8b8b;
}

.linea-avisos {
	width: 100%;
	height: 0;
	border: solid 1px #8b8b8b;
	margin-top: 22px;
}

.aviso1-avisos {
	background-color: #ffffff;
	margin-top: 22px;
	border-bottom: 1px solid  #8b8b8b;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.usuario-dijo-avisos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #07354d;
}

.boton1-avisos {
	display: flex;
	justify-content: flex-end;
	border: none !important;
	background-color: transparent !important;
	cursor: pointer;
}

.publicar-avisos {
	font-family: Roboto !important;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.19;
	color: #00949e;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.mensaje-escrito-avisos {
	color: #767676;
}

.subir-img-avisos {
	height: 35px;
	margin-top: 83px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.usuario1-avisos-input {
	border-radius: 50%;
    width: 287px;
    height: 82px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.usuario1-avisos {
	border-radius: 50%;
    width: 42px;
    height: 82px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px
}

.fecha-post-avisos {
	color: #00949e;
	font-size: 12px;
	text-align: left;
}

/* PERFIL DE USUARIO */
.body-container, form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form-container-perfil {
	max-width: 320px;
}

.cam {
	width: 50px;
	height: 50px;
	background-color: #00949e;
	border: none;
	border-radius: 50%;
	background-position: center;
	color: #ffffff;
	font-size: 21px;
	cursor: pointer;
}

.img-container-perfil {
	background-image:
		url(http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png);
	border-radius: 50%;
	width: 170px;
	height: 170px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-bottom: 25px;
}

.Regstro {
	margin-top: 18px;
	font-size: 26px;
	font-weight: normal;
	line-height: 0.85;
	text-align: center;
	color: #ffffff;
}

.nombres-perfil {
	width: 320px;
	font-size: 16px;
	font-weight: 300;
	line-height: 2.5;
	text-align: left;
	color: #07354d;
	border: none;
}

.apellidos {
	width: 74px;;
	font-size: 16px;
	font-weight: 300;
	line-height: 2.5;
	text-align: left;
	color: #07354d;
	border: none;
}

.correo-electrnico {
	width: 133px;
	font-size: 16px;
	font-weight: 300;
	line-height: 2.5;
	text-align: left;
	color: #07354d;
	border: none;
}

.contrasea {
	width: 81px;
	font-size: 16px;
	font-weight: 300;
	line-height: 2.5;
	text-align: left;
	color: #07354d;
	border: none;
}

.Rectangle-242-perfil {
	width: 206px;
	height: 36px;
	border-radius: 18px;
	margin-bottom: 23px;
	text-align: center;
	background-color: #07354d;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: none;
}

.actualizar-datos-perfil {
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 23px;
	line-height: 2;
	text-align: center;
	color: #ffffff;
}

/* TERMINOS Y CONDICIONES */
.form-container-terminos {
	width: 758px;
	background-color: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.texto-terminos {
	width: 700px;
	padding-bottom: 25px;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	color: #666666;
}

label {
	color: #07354d !important;
}

/* CONFIGURACION DE INMUEBLE */
.registro-de-condominio-config {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.21;
	text-align: left;
	color: #07354d;
	width: 100%;
	margin-top: 32px;
}

.nombre-del-condominio, .numero, .pagina-web, .calle, .numero, .telefono
	{
	font-size: 16px;
	font-weight: 300;
	color: #07354d;
	width: 50% !important;
	flex-grow: 1;
}

.codigo-postal, .colonia, .pais, .ciudad {
	font-size: 16px;
	font-weight: 300;
	color: #07354d;
	flex-grow: 1;
	width: 50% !important;
}

.ubicacin-del-inmueble-config {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.19;
	text-align: left;
	color: #07354d;
	margin-bottom: 20px;
	margin-top:20px;
}

.contacto-del-inmueble-config {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.19;
	text-align: left;
	color: #07354d;
	margin-top: 20px;
	margin-bottom: 20px;
}

.actualizarinmueble {
	font-size: 16px;
	font-weight: normal;;
	line-height: 1.19;
	text-align: right;
	color: #00949e;
	margin-top: 15px;
	padding-bottom: 10px;
}

.img-container-config {
	background-image:
		url(http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png);
	border-radius: 50%;
	width: 170px;
	height: 170px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.contenedorimg-config {
	display: flex;
	align-items: center;
	justify-content: center;
}

.botonconfig {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nombre-alias, .monto-inicial, .numero-de-cuenta, .numero-de-tarjeta,
	.numero-clabe {
	width: 50% !important;
}

.datos-operaciones-config {
	font-size: 18px;
	color: #07354d;
	margin-bottom: 20px;
	margin-top: 20px;
}

.cuota-mensual-config {
	width: 27% !important;
}

.barra-bot-config {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 85px;
	padding-right: 85px;
}

.cuenta-config {
	font-size: 18px;
	color: #07354d;
	margin-bottom: 20px;
}

.rectangulo1-config {
	width: 100%;
	background-color: #f1f1f1;
	padding-top: 24px;
	display: flex;
	align-items: center;
}

#cuadro-contenedor {
	width: 100% !important;
}

.agregar-cuenta {
	margin-top: 25px;
	margin-bottom: 39px;
	font-size: 16px;
	color: #07354d !important;
	border: none;
	background-color: transparent;
	text-align: center;
}

.atras-config {
	color: #00949e !important;
}

.siguiente-config {
	display: flex;
	justify-content: flex-end;
	color: #00949e !important;
	font-size: 16px;
	font-weight: normal;;
	line-height: 1.19;
	text-align: right;
	background-color: transparent;
}

.container1-config {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f1f1f1;
	border-radius: 12px;
	margin-top: 10px;
}

.rectangulo-cuadroconfig {
	width: 100%;
    background-color: #f1f1f1;
    padding: 24px;
    margin-top: 30px;
    border-radius: 12px;
}

/*the container must be positioned relative:*/
.tipo-select {
	position: relative;
	width: 50% !important;
	margin-top: 19px;
}

.select-selected {
	background-color: #f1f1f1;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 5px;
	right: 16px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #07354d transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #07354d transparent;
	top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
	color: #07354d;
	border: 1px solid black;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}
/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #f1f1f1;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.active {
	display: block !important;
}

@media ( max-width : 991px) {
	.form-container {
		width: 90%;
	}
}
